###### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Even though most players are male, the female players have a greater average total purchase per person than male players. Which means that they buy, on average, more expensive things than male players.

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  This means that young people are the ones who are playing this video game.

* Even though the groups between the age of 15-19 and 25-29 represent about 32% of the players, they are not the ones that have the highest average total purchase per player. The group under 10 ($4.54) and between 35-39 ($4.76) are the ones that have the highest average.

* The top buyer players purchase between 3-5 items with an average price of $3.40-$4.61. The player with most purchases is Lisosia93.

* The most popular item that has been purchased by the players is Final Critic, with an average price of $4.61 each and a total purchase value of $59.99.
 
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Total players calculation

total_players = len(purchase_data.SN.unique()) 

total_players_df = pd.DataFrame({'Total players':[total_players]})

total_players_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Basic calculations  
unique_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data)
total_revenue = purchase_data.Price.sum()


#Data frame with results  
results_summary = pd.DataFrame({'Number of unique items':[unique_items],'Average Price':[average_price],
                  'Number of purchases':[number_purchases],'Total Revenue':[total_revenue]})

# Data frame formatting and printing 
results_summary.style.format({"Average Price": "${:20,.2f}", 
                          "Total Revenue": "${:20,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Players and Gender extract to eliminate duplicated players 
extract_players_gender = purchase_data[{"SN","Gender"}]

#Duplicated players elimination 
extract_players_gender_noduplicates = extract_players_gender.drop_duplicates()

#Percentage and count of players by gender 
total_count_gender = extract_players_gender_noduplicates["Gender"].value_counts()
total_count_gender_sum = total_count_gender.sum()
summary_gender_demo = pd.DataFrame({"Total count": total_count_gender, "Percentage of players": (total_count_gender/total_count_gender_sum)})
summary_gender_demo.style.format({"Percentage of players": "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Group by Gender for basic calculations 
grouped_Gender = purchase_data.groupby(["Gender"])

#Basic calculations purchase count, avg. purchase price, and Total purchase value 
purchase_count = grouped_Gender["Purchase ID"].count()
average_price = grouped_Gender["Price"].mean()
total_purch_value = grouped_Gender["Price"].sum()

#Group by Gender and Players data frame to obtain the total purchase per player 
group_gender_SN = purchase_data.groupby(["Gender","SN"])
avg_per_person_sum = group_gender_SN["Price"].sum()

#Group by gender, over the last data frame (group_gender_SN), to obtain the average of the total purchase per player 
group_gender_person = avg_per_person_sum.groupby(["Gender"])
avg_tot_purch_person = group_gender_person.mean()

#Summary data frame  
summary_purch_analy_gender = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":average_price,
                                          "Total Purchase Value":total_purch_value,
                                           "Avg Total Purchase per person":avg_tot_purch_person})
#Formatting and printing summary data frame
summary_purch_analy_gender.style.format({"Average Purchase Price": "${:20,.2f}", 
                                         "Total Purchase Value": "${:20,.2f}",
                                        "Avg Total Purchase per person": "${:20,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Players and age extract to eliminate duplicated players 
extract_players_gender_age = purchase_data.loc[:,["SN","Age"]]
extract_noduplicates = extract_players_gender_age.drop_duplicates()

#Bins to categorize the age of each player into ranks (age group)  
bins = [0,9,14,19,24,29,34,39,50]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Adding a column with the age group for each player over the data frame 
#with no duplicated players (extract_noduplicates)
extract_noduplicates["Age Group"] = pd.cut(extract_noduplicates["Age"], bins, labels=group_names, include_lowest=False)

extract_noduplicates_copy = extract_noduplicates.copy()

#Count the number of players for each age group
age_demographic_count = extract_noduplicates_copy["Age Group"].value_counts()

age_demographic_sum = age_demographic_count.sum()

# Percentage(%) of players for each age group calculation and Summary data frame.   
summary_age_demo_df = pd.DataFrame({"Total count": age_demographic_count, "Percentage of players": (age_demographic_count/age_demographic_sum) })

#Formating and printing
summary_age_demo_df.sort_index(axis=0,ascending=True).style.format({"Percentage of players": "{:.2%}"})

C:\Users\crist\anaconda3\envs\DATAACCM\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Bins to categorize the age of each player into ranks (age group) 
bins = [0,9,14,19,24,29,34,39,50]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Adding a column with the age group for each player over the original data frame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=False)

purchase_data_copy = purchase_data.copy()

# group by Age Group 
grouped_AgeGroup = purchase_data_copy.groupby(["Age Group"])

#Basic Calculations by Age Group (Purchase Count, Average Purchase price, and Total Purchase Value) 
purchase_count = grouped_AgeGroup["Purchase ID"].count()
average_price = grouped_AgeGroup["Price"].mean()
total_purch_value = grouped_AgeGroup["Price"].sum()

#Group by Age Group and Player to calculate the Total purchase per player 
group_agegroup_SN = purchase_data_copy.groupby(["Age Group","SN"])
avg_per_person_total = group_agegroup_SN["Price"].sum()

#Group only by Age Group the last data frame (avg_per_person_sum) to calculate 
#the Average Total Purchase per player. 
group_AgeGroup = avg_per_person_total.groupby(["Age Group"])
avg_tot_purch_person = group_AgeGroup.mean()

#Summary data frame  
summary_purch_analy_gender = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":average_price,
                                          "Total Purchase Value":total_purch_value,
                                           "Avg Total Purchase per person":avg_tot_purch_person})
#Formatting and printing 
summary_purch_analy_gender.style.format({"Average Purchase Price": "${:20,.2f}", 
                                         "Total Purchase Value": "${:20,.2f}",
                                        "Avg Total Purchase per person": "${:20,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group by player
grouped_SN = purchase_data_copy.groupby(["SN"])

#Basic calculations  
purchase_count = grouped_SN["Purchase ID"].count()
average_price = grouped_SN["Price"].mean()
total_purch_value = grouped_SN["Price"].sum()

#Summary data frame  
summary_purch_analy_SN = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":average_price,
                                          "Total Purchase Value":total_purch_value})

#Sort summary data frame by Total Purchase Value
summary_print = summary_purch_analy_SN.sort_values("Total Purchase Value",ascending=False)

#Formatting and printing
summary_print.head(5).style.format({"Average Purchase Price": "${:20,.2f}", 
                                         "Total Purchase Value": "${:20,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Extract of columns "Item ID","Item Name" and "Price" from the original data frame  
extract_item_name_price = purchase_data.loc[:,["Item ID","Item Name","Price"]]

# Group by Item ID and Item Name
grouped_item = extract_item_name_price.groupby(["Item ID","Item Name"])

#Basic calculations: Purchase Count, Average Purchase Price and Total Purchase Value  
item_count = grouped_item["Item ID"].count()
average_price_item = grouped_item["Price"].mean()
total_purch_item = grouped_item["Price"].sum()

#Summary data frame
summary_purch_analy_item = pd.DataFrame({"Purchase Count":item_count,"Average Purchase Price":average_price_item,
                                          "Total Purchase Value":total_purch_item})

#Sort of summary data frame by Purchase Count
summary_print = summary_purch_analy_item.sort_values("Purchase Count",ascending=False)

#Formatting and printing 
summary_print.head(5).style.format({"Average Purchase Price": "${:20,.2f}", 
                                         "Total Purchase Value": "${:20,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Sort of summary item data frame by Total Purchase Value
summary_print = summary_purch_analy_item.sort_values("Total Purchase Value",ascending=False)

#Formatting and printing 
summary_print.head(5).style.format({"Average Purchase Price": "${:20,.2f}", 
                                         "Total Purchase Value": "${:20,.2f}"})